{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Thank you</h1>
    <p>We have received your submission.</p>
    {{ form_submission.get_data|json_script:"form_submission" }}
</div>
{% endblock content %}
