{% load wagtailcore_tags %}
{% load bs_form_tags %}
{% load bootstrap4 %}

<div class="card{% if self.card_class %} {{ self.card_class}}{% endif %}">
    {% if self.header %}<div class="card-header">{{self.header}}</div>{% endif %}
    <div class="card-body">
        {% if self.title %}<div class="card-title">{{self.title}}</div>{% endif %}
        {% if self.subtitle %}<div class="card-subtitle">{{self.subtitle}}</div>{% endif %}
        <div class="card-text">
            {% include "wagtail_bs_forms/blocks/form.html" %}
        </div>
    </div>
</div>

